%h1 商品一覧

%table
  %thead
    %tr
      %th タイトル
      %th 金額

  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.title, admins_product_path(product)
        %td= number_to_currency(product.price)

%br

= link_to '新規登録', new_admins_product_path, class: 'btn btn-primary'
