%h1 商品一覧

= link_to '新規登録', new_admins_product_path, class: 'btn btn-primary mb-3'

%ul.list-group.mb-3
  - @products.default_order.each do |product|
    %li.list-group-item
      = link_to product.title, admins_product_path(product)
      = number_to_currency(product.price)
